@{
    ViewData["Title"] = "Home Page";
}


<h1 style="text-align:center;">MAILING SERVICE</h1>
<div class="img">
    <p style="text-align:center;"><img src="https://i.imgur.com/aAEj4M3.png" style="width: 230px; height: 180px;" /></p>
</div>

<form method="post" action="/Home/GetInvoiceMail">
    <div class="invoiceSubmissionContainer">
        <input type="text" name="email" placeholder="Email" class="emailInputBox">
        <input type="submit" value="Get Mock Invoice" class="invoiceSubmissionButton">
    </div>
</form>



@if(ViewBag.SuccessMessage is not null)
{
    <div class="successMessageContainer" id="successMessage">
        <div class="successMessage" style="text-align:center;">
            <p class="message">@ViewBag.SuccessMessage</p>
        </div>
    </div>
}